html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #000;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: heartBeat 1.2s ease-out infinite;
}

@keyframes heartBeat {

    96% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.video__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoDance {
    margin-top: -30px;
}